{% extends 'main/nav.html' %}
{% load static %}
{% block title %}
Course
{% endblock %}
{% block content %}
<style>
    .course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.course-card {
    background-color: #d886f1;
    padding: 50px;
    border-radius: 8px;
    margin:10px 60px 40px 60px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(228, 43, 43, 0.1);
    transition: transform 0.3s ease;
}
.course-card:hover{
    transform: scale(1.05);
}

.course-card h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.course-info table {
    width: 100%;
    border-collapse: collapse;
}

.course-info td {
    padding: 8px;
    text-align: left;
}

.course-info td:first-child {
    font-weight: bold;
}

</style>
    <h1>Avialable Courses</h1>
    <div class="course-container">
    {% for i in c1 %}
        <div class="course-card">
            <h2 style="text-align: center;">{{i.c_title}}</h2>
            <div class="course-info">
                <table>
                    <tr>    <td>Course</td>   <td>{{i.c_name}}</td>   </tr>
                    <tr>    <td>Branch</td>   <td>{{i.c_branch}}</td>   </tr>
                    <tr>    <td>Course ID</td>   <td>{{i.c_id}}</td>   </tr>
                    <tr>    <td>Duration</td>   <td>{{i.c_duration}}</td>   </tr>
                    <tr>    <td>Fee</td>   <td>{{i.c_fee}}</td>   </tr>
                    <tr>    <td>Hostal</td>   <td>{{i.c_hostal}}</td>   </tr>
                </table>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
