{% extends 'main/nav.html' %}
{% load static %}
{% block title %}
Course
{% endblock %}
{% block content %}
    <style>
       .course-container{
        display:flex ;
        flex-wrap: wrap;
       }
       .course-card{
        width: 350px;
        height: 300px;
        text-align: center;
        background-color:rgb(142, 197, 14);
        padding: 25px 25px 50px 50px;
        margin: 20px 30px 10px 30px;
        border-radius: 7px;
        
       }
       table {
           border-collapse: collapse;
           width: 100%;
       }
       td, th {
           border: 1px solid;
           text-align: left;
           padding: 10px;
           font-size: 18px;
       }
    </style>

    <h1>Avialable Courses</h1>
    <div class="course-container">
    {% for i in c1 %}
        <div class="course-card">
            <h2>{{i.c_title}}</h2>
            <div class="course-info">
                <table>
                    <tr>    <td>Course</td>   <td>{{i.c_name}}</td>   </tr>
                    <tr>    <td>Branch</td>   <td>{{i.c_branch}}</td>   </tr>
                    <tr>    <td>Course ID</td>   <td>{{i.c_id}}</td>   </tr>
                    <tr>    <td>Duration</td>   <td>{{i.c_duration}}</td>   </tr>
                    <tr>    <td>Fee</td>   <td>{{i.c_fee}}</td>   </tr>
                    <tr>    <td>Hostal</td>   <td>{{i.c_hostal}}</td>   </tr>
                </table>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
