<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="{% static 'css/student/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Student Login</h2>
        <form method="post" action="{% url 'slv2' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="roll_number">Roll Number:</label>
                <input type="number" id="roll_number" name="roll_number" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" required>
            </div>
            <button type="submit">StudentLogin</button>
        </form>
    </div>
</body>
</html>
